* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    padding: 0 120px 0 120px;
    background: #121829;
}

.frame3 {
    display: flex;
    width: 588px;
    height: 144px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 24px;
}
